<h3>Vous avez reçu un message</h3>


Bonjour,
</br>
</br>
<strong>{{firstname}} {{lastname}}</strong> vous a envoyé un message.
</br>
<hr>
</br>

Sa demande concerne un(e): <strong>{{entitled}}</strong>
</br>
Message:<strong>{{message}}</strong>
</br>
</br>
Pour répondre à cette personne: 
<strong>{{email}}</strong> 
<br>
<strong>{{phone_number}}</strong> 

    



{# Makes an absolute URL to the /images/logo.png file #}
<!--<img src="{{ absolute_url(asset('images/logo.png')) }}">