<h3>Vous avez reçu un message</h3>


Bonjour,
</br>
</br>
<strong>{{firstname}} {{lastname}}</strong> vous a envoyé un message.
</br>
</br>
<strong>{{entitled}}</strong>
</br>
{{message}}
</br>
</br>
<strong>mail :</strong> {{email}}
</br>
<strong>numéro de mobile:</strong> {{phone_number}}

    



{# Makes an absolute URL to the /images/logo.png file #}
<!--<img src="{{ absolute_url(asset('images/logo.png')) }}">