{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Modification du plat</h1>
                {{ form_start(edit_form, {'attr':{'novalidate': 'novalidate'}}) }}
                <div class="form-group">
                    <div class="row d-flex justify-content-center">
                        <div class="col-6">
                            {{ form_label(edit_form.name, 'Nom du plat')}}
                            {{ form_widget(edit_form.name, {'attr':{'class':'form-control'}})}}
                            {{ form_errors(edit_form.name)}}

                            {{ form_label(edit_form.description, 'Description du plat')}}
                            {{ form_widget(edit_form.description, {'attr':{'class':'form-control'}})}}
                            {{ form_errors(edit_form.description)}}

                            {{ form_label(edit_form.price, 'Prix du plat')}}
                            {{ form_widget(edit_form.price, {'attr':{'class':'form-control'}})}}
                            {{ form_errors(edit_form.price)}}

                            {{ form_label(edit_form.categoryName, 'Catégorie')}}
                            {{ form_widget(edit_form.categoryName, {'attr':{'class':'form-control'}})}}
                            {{ form_errors(edit_form.categoryName)}}

                            
                            {{ form_label(edit_form.available, 'Disponibilité')}}
                            {{ form_widget(edit_form.available, {'attr':{'class':'form-check'}})}}
                            {{ form_errors(edit_form.available)}}
                        </div>
                    </div>
                </div>
                <div class="row  d-flex justify-content-center">
                <div class="col-6  d-flex justify-content-center">
                    <div class="col-sm-12 col-md-12 col-lg-6 ">
                    {{ form_widget(edit_form) }} 
                            <button type="submit" class="btn btn-warning">Modifier</button>
                        {{ form_end(edit_form) }}
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        {{ form_start(delete_form) }}
                        <button class="btn btn-warning" type="submit">Supprimer</button>
                        {{ form_end(delete_form) }}
                    </div>
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <button class="btn btn-warning" type="button" value="{{ path('plat_index') }}">Revenir à la liste des plats</button>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}