{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-12 text-center">
            <h1>Modification du plat</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center form-group">
        <div class="col-10 col-sm-10 col-md-8 col-lg-8 text-center">
            {{ form_start(edit_form, {'attr':{'novalidate': 'novalidate'}}) }}

            {{ form_label(edit_form.name, 'Nom du plat')}}
            {{ form_widget(edit_form.name, {'attr':{'class':'form-control'}})}}
            {{ form_errors(edit_form.name)}}

            {{ form_label(edit_form.description, 'Description du plat')}}
            {{ form_widget(edit_form.description, {'attr':{'class':'form-control'}})}}
            {{ form_errors(edit_form.description)}}

            {{ form_label(edit_form.price, 'Prix du plat')}}
            {{ form_widget(edit_form.price, {'attr':{'class':'form-control'}})}}
            {{ form_errors(edit_form.price)}}

            {{ form_label(edit_form.categoryName, 'Catégorie')}}
            {{ form_widget(edit_form.categoryName, {'attr':{'class':'form-control'}})}}
            {{ form_errors(edit_form.categoryName)}}

            
            {{ form_label(edit_form.available, 'Disponibilité')}}
            {{ form_widget(edit_form.available, {'attr':{'class':'form-check'}})}}
            {{ form_errors(edit_form.available)}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            {{ form_widget(edit_form) }} 
                <button type="submit" class="btn btn-warning">Enregistrer</button>
            {{ form_end(edit_form) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <button class="btn btn-warning" type="button">
                <a href="{{ path('plat_index') }}">Retour aux plats</a>
            </button>
        </div>
    </div>
       
{% endblock %}