{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Images</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Balise "alt"</th>
                <th>Url de l'image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><a href="{{ path('image_show', { 'id': image.id }) }}">{{ image.id }}</a></td>
                <td>{{ image.name }}</td>
                <td>{{ image.alt }}</td>
                <td>{{ image.pathImage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('image_show', { 'id': image.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('image_edit', { 'id': image.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('image_new') }}">Create a new image</a>
        </li>
    </ul>
{% endblock %}
