{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articleimages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Alt</th>
                <th>Pathimage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for articleImage in articleImages %}
            <tr>
                <td><a href="{{ path('articleimage_show', { 'id': articleImage.id }) }}">{{ articleImage.id }}</a></td>
                <td>{{ articleImage.name }}</td>
                <td>{{ articleImage.alt }}</td>
                <td>{{ articleImage.pathImage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('articleimage_show', { 'id': articleImage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('articleimage_edit', { 'id': articleImage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('articleimage_new') }}">Create a new articleImage</a>
        </li>
    </ul>
{% endblock %}
