{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="/assets/css/lightbox.min.css" rel="stylesheet">
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>Articles</h1>
        </div>
    </div>
    {% for article in articles|reverse %}
    <div class="article">
        <div class="row d-flex justify-content-center text-center d-flex align-items-center article-content">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <a href="{{ asset('upload/article_images/' ~ article.articleImage) }}" data-lightbox="image_produit"><img src="{{ asset('upload/article_images/' ~ article.articleImage) }}" alt="{{(article.articleImage.alt)}}" width="70%"/></a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 flex-column">
                <div class="row justify-content-center">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                        <h2>{{ article.name }}</h2>
                    </div>
                </div>
                <div class="row d-flex justify-content-center text-justify article-container">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 text-center">
                        <article>{{ article.description | raw}}</article>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted("ROLE_ADMIN") %}
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                <button class="btn btn-warning" type="button">
                    <a href="{{ path('article_show', { 'id': article.id }) }}">Modifier</a>
                </button>                   
            </div>
        {% endif %}
    </div>
    {% endfor %}
    
    
    {% if is_granted("ROLE_ADMIN") %}
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <button class="btn btn-warning" type="button">
                    <a href="{{ path('article_new') }}">Nouvel article</a>
                </button>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="/assets/js//lightbox-plus-jquery.min.js"></script>
{% endblock %}
