{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>{{ bio.title }}</h1>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-12 col-sm-12 col-md-10 col-lg-4 align-items-center d-flex justify-content-center">
            <img src="{{ asset('upload/bio/' ~ bio.Image) }}" alt="{{(bio.Image.alt)}}" width="100%"/>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row justify-content-center align-items-center">
                <div class="col-10 col-sm-10 col-md-10 col-lg-12 text-justify article-content">
                    <article>{{ bio.description | raw }}</article>
                </div>   
            </div>
        </div>
    </div>

    {% if is_granted("ROLE_ADMIN") %}
    <div class="row text-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <button class="btn btn-warning" type="button">
                <a href="{{ path('bioimage_edit', { 'id': bio.Image.id }) }}">Modifier l'image</a>
           </button>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <button class="btn btn-warning" type="button">
                <a href="{{ path('bio_edit', { 'id': bio.id }) }}">Modifier le contenu</a>
            </button>
        </div>
    </div>
    {% endif %}



    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <button class="btn btn-warning" type="button">
                <a href="{{ path('bio_index') }}">Retour</a>
            </button>
        </div>
    </div>
{% endblock %}